body {
  background-color: #effcef;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #4d4646
}
h2 {
  color: #4d4646
}
h3 {
  color: #4d4646
}
h4 {
  color: #4d4646
}
